(tutorial)=
# Tutorial

:::{note}
This document was built with conda [this environment file](_static/environment.yml).
To run the commands below, you can use that file to create a conda environment.
:::
